<div class="about" id="about">
    <div class="header">
        <br><br>
        <h1>About</h1>
        <br><br>
    </div>
    <div class="paragraphs">
        <div class="information">
            <p> PowerCal is a Web Application which performs various calculation, test and displays result such as the Calorific values, result of Proximate and ultimate analysis and helps to decide the efficiency of Soild fuels. This project is created by a group of four students Raisa Furtado(First year Engineering Computer-Engineering S.F.I.T), Reeve Silvera(First year Engineering Computer-Engineering S.F.I.T), Stalen Ferreira(First year Engineering InformationTechnology-Engineering S.F.I.T) and Chris Dias(First year Engineering InformationTechnology-Engineering S.F.I.T) for 'Prayas' 2022 which is a project exibition fest organised by
            S.F.I.T for the students of First year Engineering.
            </p>

            <br>

            <p>
                This application has 3 major components. The Calorific value calculator / Fuel efficiency calculator,
                Proximate analysis test and Ultimate analysis test.
                <br>
                The calorific value calculator inputs the data from the user and and calculates the calorific value and
                the efficiency of the fuel using Dulong's formula.
                <br>
                The proximate analysis test inputs data of a solid fuel during the test and then calculates the percentage of components such as Moisture, Fixed carbon present in it 
                <br>
                Similarly the ultimate analysis test inputs data of a solid fuel during the test and then calculates the percentage of components such as Carbon, Hydrogen etc present in it 
            </p>

            <br>

            <p>
                This entire application is made using Angular which is a front-end Javascript framework, developed and maintained by Google. Angular facilitates you to develope single page applications. It has a component based architechture which improves Reusablility, Testability, Readablity and Maintainability;These are some of the reasons we used Angular as our technology for this project.
            </p>
        </div>
    </div>
</div>