<div class="header">

    <br><br>

    <h2>Calorific Value Calculator</h2>

    <br><br>

    <p>
        Calorific Value can be calculated by using Dulong's Formula , for a fossil fuel based upon the weighted heats of combustion of the constituent elements.
    </p>

    <br>

</div>

<br><br>
<h3 id="header">Find the %H</h3>
<br><br>

<div class="para">
    <p>
        Enter the Higher calorific value(HCV/GCV), %C, %O and %S present in the fuel and the app will calculate the <strong>percentage of Hydrogen (%H) present in the fuel</strong> using  <strong>Dulong's formula</strong>
    </p>
</div>

<div class="contact" id="contactpage">

    <form [formGroup]="Form" #userMsgForm="ngForm" (ngSubmit)=userMessage(userMsgForm.value)>
        <h3 id="header">Using GCV (HCV) and other compositions</h3>
        <div class="form">
            <div class="form1">
                <input class="inp form-control-sm" name="hcv" type="text" #hcv placeholder="Enter GCV (HCV)" ngModel
                    formControlName="hcv">

                <input class="inp form-control-sm" name="cper" type="text" #carbon placeholder="Enter % C" ngModel
                    formControlName="carbon">
            </div>
            <div class="form2">
                <input class="inp form-control-sm" name="oper" type="text" #oxygen placeholder="Enter % O" ngModel
                    formControlName="oxygen">

                <input class="inp form-control-sm" name="sper" type="text" #sulphur placeholder="Enter % S" ngModel
                    formControlName="sulphur">
            </div>

            <br>


            <button (click)="calculate(hcv.value,carbon.value,oxygen.value,sulphur.value)"
                class="btn btn-secondary">CALCULATE
            </button>

            <br><br>


            <div *ngIf="invalidData==true">
                The total composition of the elements exceeds 100%. Please enter valid data
            </div>

            <div *ngIf="(invalidData==false)&&(validData==true)" class="alert alert-warning alert-dismissible fade show"
                role="alert">
                <strong>%H in fuel is {{hydrogen}}</strong>
            </div>

            <br>

            <div class="greenAlert" *ngIf="efficientFuel==true">
                <strong>Based on the composition of the fuel, this is an efficient fuel</strong>
            </div>
            <div class="blueAlert" *ngIf="cornerCase==true">
                <strong>As the HCV > 8500, it is an efficient fuel</strong>
            </div>
            <div class="redAlert" *ngIf="notEfficientFuel==true">
                <strong>Based on the composition of the fuel, this is not an efficient fuel</strong>
            </div>
        </div>





        <br><br>





        <h3 id="header">Using GCV (HCV) & NCV (LCV)</h3>
        <div class="form2">
            <input class="inp form-control-sm" name="oper" type="text" #usinggcv placeholder="Enter GCV  (HCV)" ngModel
                formControlName="calc2gcv">
            <input class="inp form-control-sm" name="oper" type="text" #usingncv placeholder="Enter NCV  (LCV)" ngModel
                formControlName="calc2ncv">
        </div>

        <br>

        <button (click)="calc(usinggcv.value,usingncv.value)" class="btn btn-secondary">CALCULATE</button>
    </form>

    <br><br><br>

    <div *ngIf="(hydsubmit==true)&&(invalidData2==false)" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>%H in is {{hydrogen2}}</strong>
    </div>

    <div *ngIf="invalidData2==true">
        GCV should be greater than NCV. Please enter valid data
    </div>

</div>