<div class="header">

    <br><br>

    <h2>Calorific Value Calculator</h2>

    <br><br>

    <p>
        Calorific Value can be calculated by using Dulong's Formula , for a fossil fuel based upon the weighted heats of combustion of the constituent elements.

    </p>

    <br>

</div>

<br><br>
<h3 id="header">Find the %S</h3>
<br><br>

<div class="para">
    <p>
        Enter the Higher calorific value(HCV/GCV), %C, %H and %O present in the fuel and the app will calculate the <strong>percentage of Sulphur (%S) present in the fuel</strong> using  <strong>Dulong's formula</strong>
    </p>
</div>

<div class="contact" id="contactpage">

    <form [formGroup]="Form" #userMsgForm="ngForm" (ngSubmit)=userMessage(userMsgForm.value)>
        <div class="form">
            <div class="form1">
                <input class="inp form-control-sm" name="hcv" type="text" #hcv placeholder="Enter GCV (HCV)" ngModel
                    formControlName="hcv">

                <input class="inp form-control-sm" name="hper" type="text" #hydrogen placeholder="Enter % H" ngModel
                    formControlName="hydrogen">
            </div>
            <div class="form2">
                <input class="inp form-control-sm" name="cper" type="text" #carbon placeholder="Enter % C" ngModel
                    formControlName="carbon">

                <input class="inp form-control-sm" name="oper" type="text" #oxygen placeholder="Enter % O" ngModel
                    formControlName="oxygen">
            </div>

            <br>


            <button  (click)="calculate(hcv.value,hydrogen.value,carbon.value,oxygen.value)"
                class="btn btn-secondary">CALCULATE</button>
        </div>
    </form>

    
    <!-- <span
        *ngIf="(cincomplete && cincomplete.touched) && (hincomplete && hincomplete.touched) && (oincomplete && oincomplete.touched) && (sincomplete && sincomplete.touched)">
        <strong>
            Please enter valid data
        </strong>
    </span> -->

    <br><br>

    <div *ngIf="invalidData==true">
        Please enter valid data
    </div>

    <div *ngIf="(submit==true) && (invalidData==false)" class="alert alert-warning alert-dismissible fade show"
        role="alert">
        <strong>%S in is {{sulphur}}</strong>
    </div>


    <br>


    <div class="greenAlert" *ngIf="efficientFuel==true">
        <strong>Based on the composition of the fuel, this is an efficient</strong>
    </div>
    <div class="blueAlert" *ngIf="cornerCase==true">
        <strong>As the HCV > 8500, it is an efficient fuel</strong>
    </div>
    <div class="redAlert" *ngIf="notEfficientFuel==true">
        <strong>Based on the composition of the fuel, this is not an efficient</strong>
    </div>

<router-outlet></router-outlet>