.header{
    text-align: center;
    color: #d9c885;
    background-color: #212529;
    margin-top: 2px solid white;
    margin-bottom: 0;
}
.para{
    text-align: center;
    color: #d9c885;
    background-color: black;
    margin-top: 2px solid white;
    margin-bottom: 0;
}
#header{
    text-align: center;
    color: #ffffff;
    margin-top: 2px solid white;
    margin-bottom: 0;
    padding-top: 3%;
}
.contact{
    text-align: center;
    padding: 2% 13% 2% 13%;
    color: antiquewhite;
}
#buttons{
    display: flex;
    flex-direction: column;
}
#buttons a {
    margin: 10px;
}
.form{
    background-color:rgb(0, 0, 0);
    padding: 20px;
}
.inp{
    margin: 5px;
}
textarea{
    margin-top: 5px;
}
.test{
    background-color: aliceblue;
    color: black;
}

.greenAlert{
    padding: 18px 10px 18px 10px;
    background-color: rgb(197, 251, 197);
    border: 3px solid green;
    color: rgb(7, 42, 7);
    border-radius: 8px;
}
.blueAlert{
    padding: 18px 10px 18px 10px;
    background-color: rgb(163, 229, 253);
    border: 3px solid blue;
    color: rgb(33, 33, 80);
    border-radius: 8px;
}
.redAlert{
    padding: 18px 10px 18px 10px;
    background-color: rgb(254, 198, 198);
    border: 3px solid red;
    color: rgb(98, 25, 25);
    border-radius: 8px;
}

@media only screen and (max-width: 1140px){
    .contact{
        padding-bottom: 30%;
    }
}