<div class="header">
    <br><br>
    <h1>Feedback</h1>
    <br><br>
</div>
<br><br><br>
<div class="containerblack">
    <div class="containerwhite">
        <div class="left">

            <h4>
                We would like to hear from you!
            </h4>

            <br><br>

            <p>Thanks for visiting our page!
                <strong>We value your feedback.</strong>
                Please complete the following form and help us improve our user experience!
            </p>

            <br>

            <a href="https://forms.gle/WbdcLmRP9prVxhpg6" class="btn btn-secondary btn-sm">Fill Form</a>
        </div>

        

        <div class="right">
            <img [src]="feedback" alt="">
        </div>
    </div>
</div>
<br><br><br>